@using DAL.Model.Enum
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<PetPostImageViewModel>

<form class="tools-box">
    <p>Sort by:</p>
    <div>
        <select id="sortOrder" name="sortOrder" asp-route-sortOrder="@ViewData["CurrentSortOrder"]"
                onchange="this.form.submit()">
            <option></option>
            <option value="lost_date">LostDate</option>
            <option value="location">Location</option>
            <option value="type">Type</option>
        </select>
    </div>
</form>
<div class="container ">
    <div class="row" data-masonry='{"horizontalOrder": true }'>
        @foreach (var petPost in Model)
        {
            <div class="col-4 mb-5 card-wrapper">
                <div class="card @(petPost.Post.Type)" style="width: 22rem;">
                <div class="pet-photo">
                    <img src="@(string.IsNullOrEmpty(petPost.Image.Path) ? "../images/pet-default.jpg" : petPost.Image.Path)" alt="Pet Photo">
                </div>
                <div class="pet-info">
                    <div class="card-body" style="padding: 0px 1rem;">
                    <h5 class="card-title">@petPost.Pet.Name</h5>
                    <p class="card-text">@petPost.Pet.Description</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@petPost.Post.Location</li>
                        <li class="list-group-item">@petPost.Post.Date</li>
                    </ul>
                </div>
                    <form asp-controller="Post" asp-action="PostDetails" asp-route-id="@petPost.Post.Id" method="get">
                        <button class="btn button button-secondary position-absolute" type="submit">Details</button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>
