@model DAL.Model.User
@{
    ViewData["Title"] = "Account";
}

@*<h1>Personal Account</h1>
<div class="container">
    <div class="id">
        <label>Id:</label>
        <label>@Model.Id</label>
    </div>
    <div class="name">
        <label>Name:</label>
        <label>@Model.Name</label>
    </div>
    <div class="surname">
        <label>Surname:</label>
        <label>@Model.Surname</label>
    </div>
    <div class="login">
        <label>Login:</label>
        <label>@Model.Email</label>
    </div>
</div>
<div class="photo">
    <img src="@Model.PhotoPath" alt="Photo">
</div>
<form asp-action="UploadUserPhoto" asp-controller="Account" method="post" enctype="multipart/form-data">
    <div class="row mt-2">
        <div class="col-12">
            <label class="col-form-label">Select File</label>
            <input asp-for=@Model.Photo class="form-control"/>
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-12">
            <button type="submit" class="btn btn-success">Upload File</button>
        </div>
    </div>
</form>*@

<div class="post-wrapper">
    <div class="profile post-content no-margin-mobile">
        <div class="img-d">
            <img class="profile-image mobile-img mobile" src="@Model.PhotoPath" alt="User Photo">
        </div>
        
        <div class="profile-details mobile">
            <h1 class="name">@Model.Name @Model.Surname</h1>
            <p class="email">@Model.Email</p>

            
            <form asp-action="UploadUserPhoto" asp-controller="Account" method="post" enctype="multipart/form-data">
                <div class="row mt-2">
                    <div class="col-12">
                        <label class="col-form-label">Select File</label>
                        <input asp-for=@Model.Photo class="form-control" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <button type="submit" class="btn button">Upload File</button>
                    </div>
                </div>
            </form>
            
        </div>

        <div class="profile-photo-upload">
            
        </div>
        
    </div>
</div>